<!DOCTYPE html>
<html style="background-color:#eee">
{% include 'material/includes/material_css.html' %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% include 'material/includes/material_js.html' %}
<div class="navbar-fixed">
   <nav id="nav_f" class="default_color" role="navigation">
       <div class="container">
           <div class="nav-wrapper">
           <a href="/#" id="logo-container" class="brand-logo">VaultKey</a>
               <ul class="right hide-on-med-and-down">
                   <li><a href="/#articles">Recent Articles</a></li>
                   <li><a href="/request">Alter Requests</a></li>
                   <li><a href="/#team">Meet the Team</a></li>
                   <li><a href="/contact">Contact Us</a></li>
               </ul>
               <ul id="nav-mobile" class="side-nav">
                   <li><a href="/#articles">Recent Articles</a></li>
                   <li><a href="/request">Alter Requests</a></li>
                   <li><a href="/#team">Meet the Team</a></li>
                   <li><a href="/contact">Contact Us</a></li>
               </ul>
           <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
           </div>
       </div>
   </nav>
</div>
<body>
<script src="http://tappedout.net/tappedout.js"></script>
{% autoescape off %}
<h1>{{ object.article_name }}</h1>
<p>{{ object.article_text }}</p>
<h3>{{ object.author.player_firstname }} {{ object.author.player_lastname }}</h3>
<p>{{ object.author.player_description }}</p>
{% endautoescape %}
<a href="/">Home</a>
</body>
</html>
