{% include 'material/includes/material_css.html' %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% include 'material/includes/material_js.html' %}
<div class="navbar-fixed">
   <nav id="nav_f" class="default_color" role="navigation">
       <div class="container">
           <div class="nav-wrapper">
           <a href="/#" id="logo-container" class="brand-logo">VaultKey</a>
               <ul class="right hide-on-med-and-down">
                   <li><a href="/#articles">Recent Articles</a></li>
                   <li><a href="/request">Alter Requests</a></li>
                   <li><a href="/#team">Meet the Team</a></li>
                   <li><a href="/contact">Contact Us</a></li>
               </ul>
               <ul id="nav-mobile" class="side-nav">
                   <li><a href="/#articles">Recent Articles</a></li>
                   <li><a href="/request">Alter Requests</a></li>
                   <li><a href="/#team">Meet the Team</a></li>
                   <li><a href="/contact">Contact Us</a></li>
               </ul>
           <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
           </div>
       </div>
   </nav>
</div>
{% if latest_player_list %}
  <ul>
  {% for player in latest_player_list %}
    <li><a href="/player/{{ player.id }}/">{{ player.player_name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No bios are available.</p>
{% endif %}
<a href="/">Home</a>
