<!DOCTYPE html>
<body>
<h1>Alter Request Submit Form</h1>
<form>
  Name: <input type="text" name="name_text">
  Email: <input type="text" name="email_text">
  Card for Alter: <input type="text" name="card_name">
  Quantity: <input type="text" name="card_quantity">
  Alter Type: <select name="alter_type">
    <option value="frameless_basic">Frameless Basic Land ($7)</option>
    <option value="partial_popup">Partial/Pop Up ($15)</option>
    <option value="fullart_basic">Full Art Basic Land Extension ($15)</option>
    <option value="frameless">Frameless($20)</option>
    <option value="frameless_simple">Frameless Art Swap - Simple ($30)</option>
    <option value="frameless_complex">Frameless Art Swap - Complex ($40)</option>
    <option value="fullart">Full Art Extension ($35)</option>
    <option value="custom">Custom Full Art Swap ($45+)</option>
  </select>
  Will you be providing the cards?<input type="checkbox" value="provided">
  <input type="submit" value="Submit">
</form>
<p>If the card to be altered is not provided, it will be purchased
  for the TCGPlayer mid price, with $0.25 added to cards less than $1,
  $1 added to cards between $1 and $20, and $3 added to any card over $20.
  Foil and humanoid alters not accepted at this time. </p>
